# VCS
.git
.gitignore

# Dependencies and build outputs
node_modules
.next
out

# Local env and caches
.env.local
*.log
*.tmp
*.temp
tsconfig.tsbuildinfo

# Editor/OS
.idea
.vscode
.DS_Store
Thumbs.db
